mixin anchor(url, text)
  a(href=`${proxyPath}${url}`)&attributes(attributes) !{text}
    block

mixin asset(url)
  -
    var link = proxyPath + url
    var match = /^.*?\.([a-zA-Z]+)$/.exec(url)
    var ext = match.length > 1 ? match[1] : ''
  if ext === 'css'
    link(rel="stylesheet", href=link)
  else if ext === 'js'
    script(src=link)

mixin author(name, mail)
  if config.get('features').gravatar && mail
    img(src=gravatar().url(mail, {s:16}))
    |&nbsp;

  if config.get('features').useProfileUrl
    a(href=`${mail}`) #{name}
  else
    span #{name}
